APPWRITE_FUNCTION_PROJECT_ID=
APPWRITE_FUNCTION_ENDPOINT=https://fra.cloud.appwrite.io/v1
DATABASE_ID=wishin
APPWRITE_FUNCTION_API_KEY=
#Tables WITHOUT prefix
ITEMS_COLLECTION_ID=wishlist_items
TRANSACTIONS_COLLECTION_ID=transactions
PROCESSED_EVENTS_COLLECTION_ID=processed_events