APPWRITE_FUNCTION_PROJECT_ID=
APPWRITE_FUNCTION_ENDPOINT=https://fra.cloud.appwrite.io/v1
DATABASE_ID=wishin
APPWRITE_FUNCTION_API_KEY=
ITEMS_COLLECTION_ID=dev_wishlist_items
TRANSACTIONS_COLLECTION_ID=dev_transactions